In [5]:
import pandas as pd

# Read the file (it's in current directory)
df_deforestationCOL = pd.read_excel('Chart1_GFW_COLOriginal.xlsx', sheet_name='Country tree cover loss')
df_deforestationCOL.head()

,country,threshold,area_ha,extent_2000_ha,extent_2010_ha,gain_2000-2012_ha,tc_loss_ha_2001,tc_loss_ha_2002,tc_loss_ha_2003,tc_loss_ha_2004,...,tc_loss_ha_2015,tc_loss_ha_2016,tc_loss_ha_2017,tc_loss_ha_2018,tc_loss_ha_2019,tc_loss_ha_2020,tc_loss_ha_2021,tc_loss_ha_2022,tc_loss_ha_2023,tc_loss_ha_2024
0,Colombia,0,113724053,113724053,113724053,1085394,233438,184414,124863,257349,...,152606,313447,457176,377367,293236,350616,289867,292410,232216,247496
1,Colombia,10,113724053,84555716,84388337,1085394,231572,183207,123479,255465,...,143414,296229,432947,358253,273952,330234,270335,271299,203314,219612
2,Colombia,15,113724053,83695032,83709788,1085394,231279,183015,123278,255177,...,142781,294762,430583,356565,272450,328585,268924,269781,201377,217749
3,Colombia,20,113724053,82977561,83298230,1085394,230838,182749,122992,254716,...,142140,293386,428436,355036,271047,327052,267592,268360,199648,216027
4,Colombia,25,113724053,82523199,82635961,1085394,230447,182544,122725,254367,...,141663,292439,426958,353956,270059,325946,266646,267362,198488,214888

In [6]:
# See all column names
print(df_deforestationCOL.columns.tolist())

['country', 'threshold', 'area_ha', 'extent_2000_ha', 'extent_2010_ha', 'gain_2000-2012_ha', 'tc_loss_ha_2001', 'tc_loss_ha_2002', 'tc_loss_ha_2003', 'tc_loss_ha_2004', 'tc_loss_ha_2005', 'tc_loss_ha_2006', 'tc_loss_ha_2007', 'tc_loss_ha_2008', 'tc_loss_ha_2009', 'tc_loss_ha_2010', 'tc_loss_ha_2011', 'tc_loss_ha_2012', 'tc_loss_ha_2013', 'tc_loss_ha_2014', 'tc_loss_ha_2015', 'tc_loss_ha_2016', 'tc_loss_ha_2017', 'tc_loss_ha_2018', 'tc_loss_ha_2019', 'tc_loss_ha_2020', 'tc_loss_ha_2021', 'tc_loss_ha_2022', 'tc_loss_ha_2023', 'tc_loss_ha_2024']

In [8]:
# Filter threshold 30 (standard)
df_30 = df_deforestationCOL[df_deforestationCOL['threshold'] == 30].copy()
df_30.head()

,country,threshold,area_ha,extent_2000_ha,extent_2010_ha,gain_2000-2012_ha,tc_loss_ha_2001,tc_loss_ha_2002,tc_loss_ha_2003,tc_loss_ha_2004,...,tc_loss_ha_2015,tc_loss_ha_2016,tc_loss_ha_2017,tc_loss_ha_2018,tc_loss_ha_2019,tc_loss_ha_2020,tc_loss_ha_2021,tc_loss_ha_2022,tc_loss_ha_2023,tc_loss_ha_2024
5,Colombia,30,113724053,81854356,81791869,1085394,229961,182235,122398,253866,...,140922,290868,424643,352219,268476,324203,265161,265730,196634,213030

In [10]:
# Get the extent_2000 value (baseline)
extent_2000 = df_30['extent_2000_ha'].values[0]
print(f"Forest extent in 2000: {extent_2000} ha")

Forest extent in 2000: 81854356 ha

In [11]:
# Select only loss columns
loss_cols = [col for col in df_30.columns if 'tc_loss_ha_' in col]

# Create tidy dataframe
df_tidy = df_30[loss_cols].T.reset_index()
df_tidy.columns = ['variable', 'loss_ha']

# Extract year from variable name
df_tidy['year'] = df_tidy['variable'].str.replace('tc_loss_ha_', '').astype(int)

# Keep only year and loss_ha
df_tidy = df_tidy[['year', 'loss_ha']]

# Add baseline for normalization later
df_tidy['extent_2000_ha'] = extent_2000

# See result
df_tidy

    year  loss_ha  extent_2000_ha
0   2001   229961        81854356
1   2002   182235        81854356
2   2003   122398        81854356
3   2004   253866        81854356
4   2005   188690        81854356
5   2006   189898        81854356
6   2007   269028        81854356
7   2008   231748        81854356
8   2009   237719        81854356
9   2010   196989        81854356
10  2011   189801        81854356
11  2012   227584        81854356
12  2013   138865        81854356
13  2014   202028        81854356
14  2015   140922        81854356
15  2016   290868        81854356
16  2017   424643        81854356
17  2018   352219        81854356
18  2019   268476        81854356
19  2020   324203        81854356
20  2021   265161        81854356
21  2022   265730        81854356
22  2023   196634        81854356
23  2024   213030        81854356

In [12]:
df_tidy.to_csv('colombia_forest_loss_yearly.csv', index=False)

In [16]:
import pandas as pd

# Read the file (it's in current directory)
df_driversdef = pd.read_csv('tree_cover_loss_by_driver.csv')
df_driversdef.head()

,drivers_type,loss_year,loss_area_ha,gross_carbon_emissions_Mg
0,Hard commodities,2001,720.875384,3.202327e+05
1,Logging,2001,3444.490635,1.615161e+06
2,Other natural disturbances,2001,3759.612831,1.727773e+06
3,Permanent agriculture,2001,206602.362219,1.050737e+08
4,Settlements & Infrastructure,2001,956.275434,3.943507e+05

In [17]:
# Step 1: Calculate total loss per year
total_per_year = df_driversdef.groupby('loss_year')['loss_area_ha'].sum().reset_index()
total_per_year.columns = ['loss_year', 'total_ha']

In [18]:
# Step 2: Merge with original data
df_driversdef = df_driversdef.merge(total_per_year, on='loss_year')

In [19]:
# Step 3: Calculate percentage
df_driversdef['percent'] = (df_driversdef['loss_area_ha'] / df_driversdef['total_ha']) * 100

In [20]:
# Check result
df_driversdef[['drivers_type', 'loss_year', 'loss_area_ha', 'percent']].head(10)

                   drivers_type  loss_year   loss_area_ha    percent
0              Hard commodities       2001     720.875384   0.313477
1                       Logging       2001    3444.490635   1.497859
2    Other natural disturbances       2001    3759.612831   1.634892
3         Permanent agriculture       2001  206602.362219  89.842352
4  Settlements & Infrastructure       2001     956.275434   0.415842
5          Shifting cultivation       2001   11998.769952   5.217741
6                       Unknown       2001    2290.265963   0.995937
7                      Wildfire       2001     188.338259   0.081900
8              Hard commodities       2002     527.978944   0.289727
9                       Logging       2002    4124.559551   2.263342

In [21]:
# Save for Vega-Lite
df_drivers_export = df_driversdef[['drivers_type', 'loss_year', 'percent']]
df_drivers_export.to_csv('colombia_drivers_percent.csv', index=False)

In [4]:
# Prepare data for all drivers (absolute values)
df_drivers_abs = df_driversdef[['drivers_type', 'loss_year', 'loss_area_ha']].copy()
df_drivers_abs.columns = ['driver', 'year', 'hectares']

# Save for Vega-Lite
df_drivers_abs.to_csv('colombia_drivers_absolute.csv', index=False)

# Check result
df_drivers_abs

                           driver  year       hectares
0                Hard commodities  2001     720.875384
1                         Logging  2001    3444.490635
2      Other natural disturbances  2001    3759.612831
3           Permanent agriculture  2001  206602.362219
4    Settlements & Infrastructure  2001     956.275434
..                            ...   ...            ...
187         Permanent agriculture  2024  189845.126591
188  Settlements & Infrastructure  2024     274.673913
189          Shifting cultivation  2024    9575.803233
190                       Unknown  2024     279.975585
191                      Wildfire  2024    1476.808085

[192 rows x 3 columns]