In [ ]:
import requests
import json

# Descargar el GeoJSON
url = "https://gist.githubusercontent.com/john-guerra/43c7656821069d00dcbc/raw/be6a6e239cd5b5b803c6e7c2ec405b793a9064dd/Colombia.geo.json"
response = requests.get(url)
geojson = response.json()

# Extraer códigos y nombres de departamentos, son llave para el csv, con un loop
for department in geojson['features']:
    print(department['properties']['DPTO'], department['properties']['NOMBRE_DPT'])

05 ANTIOQUIA
08 ATLANTICO
11 SANTAFE DE BOGOTA D.C
13 BOLIVAR
15 BOYACA
17 CALDAS
18 CAQUETA
19 CAUCA
20 CESAR
23 CORDOBA
25 CUNDINAMARCA
27 CHOCO
41 HUILA
44 LA GUAJIRA
47 MAGDALENA
50 META
52 NARIÑO
54 NORTE DE SANTANDER
63 QUINDIO
66 RISARALDA
68 SANTANDER
70 SUCRE
73 TOLIMA
76 VALLE DEL CAUCA
81 ARAUCA
85 CASANARE
86 PUTUMAYO
91 AMAZONAS
94 GUAINIA
95 GUAVIARE
97 VAUPES
99 VICHADA
88 ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA CATALINA

In [28]:
# Crear diccionario vacío
dept_names_dicc = {}

# Loop para llenar el diccionario
for department in geojson['features']:
    codedicc = department['properties']['DPTO']
    namedicc = department['properties']['NOMBRE_DPT']
    dept_names_dicc[codedicc] = namedicc

# Ver qué tiene
print(dept_names_dicc)

#No tienen nombres de columnas
#✅ Buscar es super rápido: dept_names['05'] → devuelve 'ANTIOQUIA'

{'05': 'ANTIOQUIA', '08': 'ATLANTICO', '11': 'SANTAFE DE BOGOTA D.C', '13': 'BOLIVAR', '15': 'BOYACA', '17': 'CALDAS', '18': 'CAQUETA', '19': 'CAUCA', '20': 'CESAR', '23': 'CORDOBA', '25': 'CUNDINAMARCA', '27': 'CHOCO', '41': 'HUILA', '44': 'LA GUAJIRA', '47': 'MAGDALENA', '50': 'META', '52': 'NARIÑO', '54': 'NORTE DE SANTANDER', '63': 'QUINDIO', '66': 'RISARALDA', '68': 'SANTANDER', '70': 'SUCRE', '73': 'TOLIMA', '76': 'VALLE DEL CAUCA', '81': 'ARAUCA', '85': 'CASANARE', '86': 'PUTUMAYO', '91': 'AMAZONAS', '94': 'GUAINIA', '95': 'GUAVIARE', '97': 'VAUPES', '99': 'VICHADA', '88': 'ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA CATALINA'}

In [10]:
#contar cuántos departamentos hay
dept_count = len(geojson['features'])
print(f"Total departamentos: {dept_count}")

Total departamentos: 33

In [15]:
#Trabajo con el CSV del DANE
import pandas as pd

# 1. Leer CSV
df = pd.read_csv('CC71ColombiaDB.CSV', encoding='latin-1')

#cuántas variables hay y de que tipos
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29681 entries, 0 to 29680
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   SEDE_CODIGO              29681 non-null  int64
 1   PERIODO_ID               29681 non-null  int64
 2   PERIODO_ANIO             29681 non-null  int64
 3   JORNADA_ID               29681 non-null  int64
 4   JORNADA_CODIGO           29681 non-null  int64
 5   JORNADA_NOMBRE           29681 non-null  object
 6   NIVELENSE_ID             29681 non-null  int64
 7   NIVELENSE_CODIGO         29681 non-null  int64
 8   NIVELENSE_NOMBRE         29681 non-null  object
 9   POBLACIONDES_ID          29681 non-null  int64
 10  POBLACIONDES_CODIGO      29681 non-null  int64
 11  POBLACIONDES_NOMBRE      29681 non-null  object
 12  JORNDES_CANTIDAD_HOMBRE  29681 non-null  int64
 13  JORNDES_CANTIDAD_MUJER   29681 non-null  int64
dtypes: int64(11), object(3)
memory usage: 3.2+ MB
None

In [16]:
#Mirar si hay missing values    
print(df.isnull().sum())

SEDE_CODIGO                0
PERIODO_ID                 0
PERIODO_ANIO               0
JORNADA_ID                 0
JORNADA_CODIGO             0
JORNADA_NOMBRE             0
NIVELENSE_ID               0
NIVELENSE_CODIGO           0
NIVELENSE_NOMBRE           0
POBLACIONDES_ID            0
POBLACIONDES_CODIGO        0
POBLACIONDES_NOMBRE        0
JORNDES_CANTIDAD_HOMBRE    0
JORNDES_CANTIDAD_MUJER     0
dtype: int64

In [18]:
#Mirar las primeras filas
print(df.head())

    SEDE_CODIGO  PERIODO_ID  PERIODO_ANIO  JORNADA_ID  JORNADA_CODIGO  \
0  105440000068          10          2023           2               2
1  215673000149          10          2023           2               2
2  218001002789          10          2023           2               2
3  241668000603          10          2023           2               2
4  154001004732          10          2023           3               3

  JORNADA_NOMBRE  NIVELENSE_ID  NIVELENSE_CODIGO   NIVELENSE_NOMBRE  \
0         Mañana             4                 4              Media
1         Mañana             2                 2    Básica primaria
2         Mañana             2                 2    Básica primaria
3         Mañana             2                 2    Básica primaria
4          Tarde             3                 3  Básica secundaria

   POBLACIONDES_ID  POBLACIONDES_CODIGO  \
0                1                    1
1                1                    1
2                1                    1
3                1                    1
4                1                    1

                        POBLACIONDES_NOMBRE  JORNDES_CANTIDAD_HOMBRE  \
0  Desplazado, víctima del conflicto armado                        2
1  Desplazado, víctima del conflicto armado                        0
2  Desplazado, víctima del conflicto armado                        3
3  Desplazado, víctima del conflicto armado                        3
4  Desplazado, víctima del conflicto armado                        1

   JORNDES_CANTIDAD_MUJER
0                       1
1                       1
2                       0
3                       4
4                       0

In [42]:
#Crear nueva columna con codigo de departamento
dept_code = {}

#Crear nueva columna con nombre de departamento
dept_name = {}

# Extraer código de departamento (primeros 2 dígitos de SEDE_CODIGO)
df['dept_code'] = df['SEDE_CODIGO'].astype(str).str[1:3]

# Ver resultado
print(df[['SEDE_CODIGO', 'dept_code']].head())

    SEDE_CODIGO dept_code
0  105440000068        05
1  215673000149        15
2  218001002789        18
3  241668000603        41
4  154001004732        54

In [43]:
#confirmar tipo de datos de nueva columna
print(df['dept_code'].dtype)

object

In [44]:
# Hacer match de nombre de departamento con código
#**¿Qué hace?**
#- Toma cada valor de `df['dept_code']` (ej: '05', '11', '21')
#- Lo busca en el diccionario `dept_names_dicc`
#- Pone el nombre correspondiente en `df['dept_name']`
df['dept_name'] = df['dept_code'].map(dept_names_dicc)

In [ ]:
#Ver el número de missing values en la nueva columna
print(df['dept_name'].isnull().sum())

#Ver el total de observaciones en la nueva columna
print(len(df['dept_name']))

# Ver qué códigos no tienen match
missing_dept_codes = df[df['dept_name'].isnull()]['dept_code'].unique()  # ← Agrega ()

# Contar cuántos registros tiene cada código missing
missing_count = df[df['dept_name'].isnull()].groupby('dept_code').size()

print("Códigos sin match:")
print(missing_dept_codes)
print(len(missing_dept_codes))
print("\nCantidad de registros por código missing:")
print(missing_count)

247
29681
Códigos sin match:
['83']
1

Cantidad de registros por código missing:
dept_code
83    247
dtype: int64

In [46]:
# Crear DataFrame vacío
dept_total = pd.DataFrame(columns=['dept_code', 'hombres', 'mujeres', 'total'])

# Obtener lista de códigos únicos
codigos_unicos = df['dept_code'].unique()

# Loop por cada departamento
for codigo in codigos_unicos:
    # Filtrar solo ese departamento
    dept_filas = df[df['dept_code'] == codigo]
    
    # Sumar hombres y mujeres
    suma_hombres = dept_filas['JORNDES_CANTIDAD_HOMBRE'].sum()
    suma_mujeres = dept_filas['JORNDES_CANTIDAD_MUJER'].sum()
    suma_total = suma_hombres + suma_mujeres
    
    # Agregar fila nueva al DataFrame
    nueva_fila = {
        'dept_code': codigo,
        'hombres': suma_hombres,
        'mujeres': suma_mujeres,
        'total': suma_total
    }
    dept_total = pd.concat([dept_total, pd.DataFrame([nueva_fila])], ignore_index=True)

# Ver resultado
print(dept_total)

   dept_code hombres mujeres   total
0         05   62037   61847  123884
1         15    1784    1801    3585
2         18    3527    3784    7311
3         41   13664   13678   27342
4         54   10642   10486   21128
5         13    8574    8245   16819
6         44    2939    2760    5699
7         11    9383    8893   18276
8         83    4892    4979    9871
9         76   22402   21956   44358
10        19    8203    8205   16408
11        68   10276   10346   20622
12        50   13216   13115   26331
13        25    7108    6657   13765
14        81    4869    5153   10022
15        86    9882    9933   19815
16        47    5800    5312   11112
17        70   14004   13263   27267
18        73    6713    6889   13602
19        85    5219    5078   10297
20        20   11749   11035   22784
21        27   16635   16109   32744
22        52   16623   16863   33486
23        66    5715    5555   11270
24        23   10632   10003   20635
25        17    6043    5741   11784
26        08    2772    2680    5452
27        63    2983    2906    5889
28        95    2462    2364    4826
29        91      67      60     127
30        94     643     593    1236
31        97      23      14      37
32        99     164     163     327
33        88       5       1       6

In [47]:
# Agregar nombres usando el diccionario
dept_total['dept_name'] = dept_total['dept_code'].map(dept_names_dicc)

# Ver resultado
print(dept_total[['dept_code', 'dept_name', 'total']])

   dept_code                                          dept_name   total
0         05                                          ANTIOQUIA  123884
1         15                                             BOYACA    3585
2         18                                            CAQUETA    7311
3         41                                              HUILA   27342
4         54                                 NORTE DE SANTANDER   21128
5         13                                            BOLIVAR   16819
6         44                                         LA GUAJIRA    5699
7         11                              SANTAFE DE BOGOTA D.C   18276
8         83                                                NaN    9871
9         76                                    VALLE DEL CAUCA   44358
10        19                                              CAUCA   16408
11        68                                          SANTANDER   20622
12        50                                               META   26331
13        25                                       CUNDINAMARCA   13765
14        81                                             ARAUCA   10022
15        86                                           PUTUMAYO   19815
16        47                                          MAGDALENA   11112
17        70                                              SUCRE   27267
18        73                                             TOLIMA   13602
19        85                                           CASANARE   10297
20        20                                              CESAR   22784
21        27                                              CHOCO   32744
22        52                                             NARIÑO   33486
23        66                                          RISARALDA   11270
24        23                                            CORDOBA   20635
25        17                                             CALDAS   11784
26        08                                          ATLANTICO    5452
27        63                                            QUINDIO    5889
28        95                                           GUAVIARE    4826
29        91                                           AMAZONAS     127
30        94                                            GUAINIA    1236
31        97                                             VAUPES      37
32        99                                            VICHADA     327
33        88  ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA...       6

In [48]:
# Guardar como CSV
dept_total[['dept_name', 'total']].to_csv('students_by_department.csv', index=False)

print("✅ Guardado como CSV")

✅ Guardado como CSV